<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <!-- Paste connection string from portal here-->
    <add key="connectionString" value="" />
    <!-- Name of Azure read region to be used for reading with tags-->
    <add key="readTargetRegion"  value="Japan West" />
  </appSettings> 
</configuration>